* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 68px;
    background: #1ebfc1;
    border-radius: 14px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.btn:hover {
    opacity: 0.9;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.heading.lv1 {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
}

.heading.lv2 {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
}

.heading.lv3 {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.heading.small {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

/* Header */

header {
    background: #fff;
    margin-bottom: 30px;
    padding: 52px 0 20px;
    position: sticky;
    top: -34px;
    z-index: 1;
}

header .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav {
    display: flex;
    gap: 39px;
}

header .nav a {
    color: #2f3a3b;
}

header .nav a:hover {
    color: #2f3a3b;
    text-shadow: 0.6px 0 0 currentColor;
}

header .action {
    display: flex;
    align-items: center;
    gap: 24px;
}

header .action .btn-sign-in {
    color: #494949;
}

header .action .btn-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 48px;
    border: 1px solid #1ebfc1;
    border-radius: 6px;
    color: #1ebfc1;
    font-weight: 600;
    line-height: normal;
}

header .action .btn-sign-up:hover {
    background: #1ebfc1;
    color: #fff;
    transition: all 0.4s ease;
}

/* Hero */

.hero {
    padding-bottom: 144px;
}

.hero .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .hero-left {
    width: 40%;
}

.hero .hero-left .slogan {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.4rem;
    line-height: normal;
}

.hero .hero-left .heading {
    margin-top: 18px;
}

.hero .hero-left .desc {
    margin-top: 46px;
    width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.77;
}

.hero .hero-left .action {
    margin-top: 52px;
    display: flex;
    gap: 50px;
}

.hero .hero-left .action .watch-video {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    background: #ffffff;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .hero-right {
    position: relative;
}

.hero .hero-right .image {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .hero-right .child-1 {
    position: absolute;
    left: -40px;
    bottom: 407px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .hero-right .child-1 .book-icon {
    position: relative;
}

.hero .hero-right .child-1 .book-icon::after {
    position: absolute;
    left: 4px;
    bottom: 8px;
    content: "";
    display: inline-block;
    width: 28px;
    height: 4px;
    background: #fff;
    border-radius: 99px;
}

.hero .hero-right .child-1 h3 {
    width: 55px;
}

.hero .hero-right .child-2 {
    position: absolute;
    left: -65px;
    bottom: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 16px;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #ffffff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .hero-right .child-2 .schedule {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero .hero-right .child-2 .schedule::after {
    margin: 6px auto 0;
    content: "";
    display: block;
    width: 26px;
    height: 6px;
    background: #edf1f5;
    border-radius: 99px;
}

.hero .hero-right .child-3 {
    position: absolute;
    right: 45px;
    bottom: 41px;
    padding-left: 35px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .hero-right .child-3 h3 {
    margin: 17px 0 8px;
}

.hero .hero-right .child-3 .list-avt {
    display: flex;
}

.hero .hero-right .child-3 .avt {
    margin-right: -7px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.hero .hero-right .child-3 .avt.number {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1ebfc1;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

/* Features */

.features {
    padding: 65px 0;
}

.features .body {
    width: 87.52%;
}

.features .feature-top .intro {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.features .feature-top .heading {
    margin: 18px 0;
    width: 577px;
}

.features .feature-top .desc {
    width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: normal;
}

.features .list-items {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.features .list-items .item {
    width: 22%;
}

.features .item .title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
}

.features .item .desc {
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69;
}

/* Courses */

.courses {
    padding: 65px 0;
}

.courses .courses-top {
    margin-bottom: 79px;
}

.courses .courses-top .intro {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses .courses-top .heading {
    margin: 18px 0;
}

.courses .courses-top .view {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .courses-top .view .desc {
    width: 44.8%;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.courses .courses-top .view-all {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.courses .list-items {
    display: flex;
    gap: 47px;
}

.courses .list-items .item {
    position: relative;
    width: 33.33%;
    height: 517px;
}

.courses .item .bg-color {
    height: 393px;
    background: #d0efed;
    border-radius: 8px;
}

.courses .item .image {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.55;
}

.courses .info {
    position: absolute;
    left: calc((358.66px - 325px) / 2);
    bottom: 0;
    padding: 18px 0 0 25px;
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses .info .heading {
    margin-bottom: 16px;
}

.courses .info .cost {
    color: #767e7e;
    font-size: 1.6rem;
    line-height: normal;
}

.courses .info .cost strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses .info .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    line-height: normal;
}

.courses .info .resource {
    display: flex;
    gap: 10px;
    margin-top: 18px;
    color: #9da6a5;
    font-size: 1.4rem;
    line-height: normal;
}

.courses .info .resource span {
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

.courses .info .resource span::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #1ebfc1;
    border-radius: 50%;
}

/* Countdown */

.countdown {
    padding: 200px 0;
}

.countdown .body {
    margin-left: auto;
    margin-right: auto;
    width: 862px;
    display: flex;
    justify-content: space-between;
}

.countdown .child .heading {
    line-height: normal;
    text-align: center;
}

.countdown .child .desc {
    padding: 11px;
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
    line-height: normal;
}

/* Feedback */

.feedback {
    padding: 65px 0;
}

.feedback .body {
    display: flex;
    align-items: center;
}

.feedback .fb-info {
    width: 36%;
}

.feedback .fb-info .comment {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    line-height: 1.5;
}

.feedback .fb-info .author {
    margin-top: 33px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #767e7e;
    line-height: normal;
}

.feedback .fb-info .author strong {
    color: #070707;
    font-weight: 500;
}

.feedback .fb-info .author::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #070707;
}

.feedback .fb-info .action {
    margin-top: 52px;
    display: flex;
    gap: 30px;
}

.feedback .fb-info .action button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2ac9bf;
    border: none;
}

.feedback .fb-image {
    width: 64%;
    height: 481px;
    position: relative;
}

.feedback .fb-image .large-avt {
    position: absolute;
    top: 107px;
    left: 345px;
    width: 235px;
    height: 235px;
    border-radius: 50%;
    background: #ff8282;
}

.feedback .fb-image .large-avt img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .fb-image img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 216px;
    width: 92px;
    height: 92px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .fb-image img:nth-child(3) {
    position: absolute;
    top: 19px;
    right: 0;
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .fb-image img:nth-child(4) {
    position: absolute;
    bottom: 145px;
    left: 72px;
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .fb-image img:nth-child(5) {
    position: absolute;
    bottom: 0;
    left: 284px;
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .fb-image img:nth-child(6) {
    position: absolute;
    bottom: 29px;
    right: 32px;
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 50%;
}

/* CTA */

.cta {
    margin-top: 65px;
    height: 272px;
    background: #def6f5;
}

.cta .body {
    padding-top: 76px;
    display: flex;
    align-items: center;
    gap: 410px;
}

.cta .info .heading {
    line-height: normal;
}

.cta .info .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: normal;
}
